/* Reset e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    background-color: black;
}

/* Estilos para as modais */
.modal {
    display: none; /* O modal fica oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    display: flex; /* Exibe o modal quando a classe 'show' é adicionada */
    opacity: 1;
}

/* Conteúdo do modal */
.modal-content {
    background-color: #111;
    padding: 20px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    max-width: 300px;
    width: 80%;
}

.modal-content p {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: darkorange;
}

.modal-content button:focus {
    outline: 2px solid #fff;
}

/* Estilo específico para o modal final de Game Over */
#finalGameOverModal {
    background-color: rgba(0, 0, 0, 0.8); /* Escurecido para maior destaque */
}

#finalGameOverModal .modal-content {
    background-color: #333;
    border-radius: 10px;
}

#finalGameOverModal .modal-content p {
    font-size: 18px;
    font-weight: bold;
}

/* Estilo do botão de fechamento */
#closeGameButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: red;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

#closeGameButton:hover {
    background-color: darkred;
}

#closeGameButton:focus {
    outline: 2px solid #fff;
}

/* Responsividade */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}